/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
  .top-wrapper {
    height: 100%;
    text-align: center;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper span {
    font-size: 10px;
  }

  .content-wrapper{
    text-align: left;
  }

  .content-wrapper h1{
    text-align: center;
  }

  .content-wrapper img{
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  
  .top-wrapper {
    height: 100%;
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .top-wrapper span {
    font-size: 10px;
  }

  .content-wrapper{
    text-align: left;
  }

  .content-wrapper h1{
    font-size: 20px;
  }

  .content-wrapper img{
    width: 100%;
  }
}